<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Bullseye.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C58C5CE027C3D93D00E849DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C58C5CF627C3D94000E849DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C58C5D0127C3D94000E849DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
